.env
*.env
.env.*
venv/
postgres_data/
.vscode
.DS_Store
.notes.txt
.ansible/
group_vars/
node_modules/
.pytest_cache
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
values.yaml